<head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <h1>{{page}}</h1>
        <p><a href="/">Home</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/profile">Profile</a></p>
</head>