<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Obecna</title>
        <h1>{{$(Date(time)()}}</h1>
    </head>
    <body>
        
        <p>Ciśnienie atmosferyczne: {{pressure}} hPk</p>
    </body>
    {{> footer}}
</html>